.swiper-button-prev,
.swiper-button-next {
  border-radius: 50% !important;
  background-color: white !important;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.swiper-button-prev::after {
  color: #000 !important;
  content: "" !important;
  background-image: url("./assets/left-arrow.svg") !important;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.swiper-button-next::after {
  color: #000 !important;
  content: "" !important;
  background-image: url("./assets/right-arrow.svg") !important;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}